
body {background-color: rgba(0,0,0,0.4)}

/* TODO: @media mobile with simple backgound */

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}

}


h1, h2, h3, h4 {font-family: 'Oswald', sans-serif;}
p, a, ul {font-family: 'Raleway', sans-serif;}
/* TODO: @media non-mobile with flashier background */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
    background-image: image();
}

#logo{float: right;}

.menu {
	background-color:transparent;
	border:2px solid #fcfcfc;
	display:inline-block;
	cursor:pointer;
	color:##CFD8DC;
	font-family: 'Kumar One', cursive;
	font-size:17px;
	padding:8px 30px;
	text-decoration:none;
	text-shadow:0px 1px 0px #d4d4d4;
}
.menu {
	background-color:transparent;
}
.menu {
	position:relative;
	top:1px;
}

footer {
  background-color: black;

  width: 110%;
}
